/* font */
.ubuntu-light {
    font-family: "Ubuntu", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .ubuntu-regular {
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .ubuntu-medium {
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .ubuntu-bold {
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .ubuntu-light-italic {
    font-family: "Ubuntu", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .ubuntu-regular-italic {
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .ubuntu-medium-italic {
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .ubuntu-bold-italic {
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  

/* webpage */

body {
  font-family: 'ubuntu', sans-serif;
  background-color: whitesmoke;
  width: 100%;
  margin: 0;
  padding: 0;
}

h1 {
  margin: 0%;
  background-color: rgba(0,0,0,0);
  font-size: 72px;
}

.section-title {
  display: flex;
  justify-content: center;
  font-size: 28px;
}

#invisible {
  visibility: hidden
}

/* Nav Bar */

.navbar {
    display: none;
}

/* Landing Page */

   /* Landing Page Top */

.landing-page { 
    display: flex;
    width: 100vw;
    flex-direction: column;
    margin: 0;
    color: whitesmoke;
}

.landing-page__top {
    display: flex;
    margin: 0%;
    width: 100%;
    height: fit-content;
    background-image: linear-gradient(to left, #5EA6CB, #477FB9);
}

.landing-page__text h1 {
  margin: 12% 3% 12% 14.5%;
  width: fit-content;
}

.landing-page__text h3 {
    font-size: 24px;
    margin: 0 8% 5% 14.5%;
}

.landing-page__headshot {
    padding: 0%;
    background-color: rgba(0,0,0,0);
    overflow: hidden;
    min-width: fit-content;
    display: flex;
}

.landing-page__headshot img {
    background-color: rgba(0,0,0,0);
    margin: 0;
    height: 75vh;
    max-width: 100%;
    object-fit: contain;
    align-self: flex-end;
}
     /* Landing Page Bottom */

.landing-page__videodiv {
  border-top: 5px solid #ffdc32;
  border-bottom: 5px solid #ffdc32;
  display: flex;
  justify-content: center;
  margin: -4px 0 0 0;
  padding: 0;
}
    
.landing-page__videodiv video{
  width: 100vw;
  margin: 0;
  padding: 0;
  object-fit: contain;
  object-position: top;
}

/* Experience */

.experience__job-background-div {
  background-attachment: fixed;
  background-size: cover;
  height: fit-content;
  width: 100vw;
  background-repeat: no-repeat;
  border-bottom: 5px solid #477FB9;
}

.experience__job-text-div__inner {
  background-image: linear-gradient(to bottom, #477FB9 5%, #5EA6CB);
  width: 80vw;
  justify-self: center;
  padding: 18px;
}

#assumption-job-background-img {
  background-image: url("Resources/AssumptionCollege.jpg");
  border-top: 5px solid #477FB9;
}

#sukujobexpimg {
  background-image: url("Resources/SukuSuku.jpg");
}

#upbeatjobexpimg {
  background-image: url("Resources/UpbeatInt1.jpg");
}

#franklinjobexpimg {
  background-image: url("Resources/Franklin.jpg");
}

.experience__job-text-div {
  padding: 50px;
  display: flex;
  justify-content: center;
}

.experience__job-details-first-line {
    display: flex;
    justify-content: space-between;
    align-items: end;
    height: fit-content;
}

.experience__job-details-first-line h3 {
  color: whitesmoke;
  margin: 0px;
  font-size: 20px;
}

.experience__job-details-first-line h4 {
  font-size: 14px; 
  margin: 0px;
}

.experience__employer {
    font-size: 20px;
    margin-bottom: 0px;
}

.experience__job-description {
  width: 80vw;
  justify-self: center;
  padding: 18px;
  margin-top: 15px;
}

.experience__job-details {
  margin: 0px;
}

.line {
  display: flex;
}

.sentence {
  display: inline-block;
  margin-left: 5px;
}


/* Education */

.education {
  height: 310px;
}

#education__background-img {
  z-index: -1;
  position: absolute;
  width: 100vw;
  height: 300px;
  object-fit: cover;
  object-position: 0 22%;
  border-bottom: 5px solid #477FB9;
  border-top: 5px solid #477FB9;
}

#carousel {
  position: relative;
  margin: 0 auto 2.2rem;
  padding-top: 3rem;
  width:fit-content;
}

#carouseltrackdiv {
  position: relative;
  overflow: hidden;
  height: 100%;
  margin: 0 auto;
  height: 200px;
  width: 750px;
}

#carouseltrack {
  padding: 0;
  margin: 0;
  list-style: none;
  transition: transform 1000ms ease-in-out;
  position: relative;
  height: 100%;
  z-index: -1;
}

.carouselslide {
  position: absolute;
  margin: 0;
  height: 100%;
}

#carouselslide img {
  width: 100%;
  height: 100%;
  margin: 0;
  object-fit: cover;
}

.carousel-wide {

}

.carousel-narrow {
  display: none;
}

.carouselbutton {
  position: absolute;
  top: 102.5%;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 15px;
  font-size: 32px;
  cursor: pointer;
  z-index: -1;
}

#carouselbuttonright {
  right: 300px;
  z-index: -1;
}

#carouselbuttonleft {
  left: 300px;
  z-index: -1;
}

.carouselindexnumber {
  position: absolute;
  left: 50%;
  bottom: -60px;
  transform: translateX(-50%);
  display: none;
  z-index: -1;
}

.currentindex {
  display: block;
}

.carouselindexnumber {
  padding: 3px;
}

/* Contact */

.contact {
  display:flex;
  justify-content: center;
}

.title {
  display: flex;
  justify-content: center;
  font-size: 28px;
  padding-top: 1.25em;
}

#contactform {
  margin: 0 0 50px 0;
  padding: 3% 10%;
  background-image: linear-gradient(45deg, #5EA6CB, #477FB9);
}

#contactform::placeholder {
  font-family: 'ubuntu', sans-serif;
}

.input {
  display: block;
  margin: 2% 0%;
  font-family: 'ubuntu', sans-serif;
}

#message {
  padding: 0;
  overflow: auto;
  font-family: 'ubuntu', sans-serif;
  width: 450px; 
  height: 100px;
}

.CVsec {
  background-image: url("Resources/greybackground.jpg");
  object-fit: contain;
  border-bottom: 5px solid #477FB9;
  border-top: 5px solid #477FB9;
  width: 100vw;
}

.CVsec embed{
  display: block;
  margin: 50px auto 0;
}

.CV__cv-img {
  display: none;
}

.CV__button {
  display: inline-block;
  text-align: center; 
  margin: 16px 6px;
  text-decoration: none;
  color: black;
  vertical-align: center;
}

.CVcenter {
  width:fit-content;
  margin: 12px auto;
  background-color: #ffffffdf;
  border-radius: 10px;
}

.CVcenter img {
  margin: 0 6px;
  vertical-align: bottom;
}

@media only screen and (max-width: 950px) {
  .landing-page__headshot img {
    height: 60vh;
  }
}

@media only screen and (max-width: 800px) {
  .landing-page__headshot img {
    height: 50vh;
  }
}

@media only screen and (max-width: 760px) {
  .carousel-wide {
    display: none;
  }

  .carousel-narrow {
    display: inline;
  }

  #carouseltrackdiv {
    height: 300px;
    width: 300px;
  }
  
  #education__background-img {
    height: 410px;
  }

  .education {
    height: 410px;
  }
  
  #carouselbuttonright {
    right: 80px;
  }

  #carouselbuttonleft {
    left: 80px;
  }

  .CVsec embed {
    width: 500px;
    height: 680px;
  }
}

@media only screen and (max-width: 670px) {
  .landing-page__headshot img {
    display: none;
  }

  .landing-page__text h1 , .landing-page__text h3{
    margin: 6%;
  }
}

@media only screen and (max-width: 510px) {
  #exp__section-title {
    font-size: 24px;
  }
  
  .CVsec embed {
    display: none;
  }

    
  .CV__cv-img {
    display: block;
    width: 90%;
    margin: 10px auto;
  }


}

@media only screen and (max-width: 480px) {

   nav {
    position: fixed;
    background-color: whitesmoke;
    width: 100vw;
    height: fit-content;
  }

  .navbar {
    display: flex;
    justify-content: space-around;
    align-content: end;
  }

  .navbar a {
    color: black;
    text-decoration: none;
  }

  .navbar h3:hover {
    color: #477FB9;
    text-decoration: none;
  }

  .navbar h3 {
    margin: 3% 0% 2% 0%;
  }
  
  h2 {
    font-size: 32px;
  }

  .landing-page__text {
    text-align: center;
  }

  .landing-page__text h1 {
    margin-top: 10%;
    font-size: 64px;
  }
  
  #contactform {
    padding: 3%;
   }

   #message {
    width: 90vw;
   }
}

@media only screen and (max-width: 390px) {
   #exp__section-title {
    padding: 0 10px;
    text-align: center;
   }
}