/* Page */
body {
    background-color: rgba(0, 0, 0, 0.76);  
    position: relative;
}

.box {
    margin: 0.5rem auto;
    max-width: 1260px;
}

.sec {
    margin-bottom: 45px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 30px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

h2 {
    margin: 6px 15px 2px;
}

h3 , h4 {
    margin: 2px 2px 0px 20px;
}

p {
    margin: 3px 20px 10px;
}

/* Navbar */

.navbar {
  position: fixed;
  left: 0px;
  top: 25px;
  font-size: 14px;
  background-color: gainsboro;
  z-index: 2;
}

.navbar h2 {
    margin-bottom: 10px;
    margin-right: 5px;
    border: 1px solid gainsboro;
    background-color: white;
    box-shadow: -3px 3px black;
}

.navbar h2:hover {
    margin-left: 5px;
}

.navbar a {
    color: black;
    text-decoration: none;
}

.navbar a:hover {
    color: black;
}

.navbar a:link {
    color: black;
}

.navbar a:visited {
    color: black;
}


/* Welcome */

.welcome {
    background-color: whitesmoke;
    justify-content: space-between;
}

.welcome h1 {
    font-size: 52px;
    margin: 4% 0% 2% 15%;
}

.highlights h3 {
    font-size: 24px;
    line-height: 2.5rem;
    margin: 1% 15% 2% 16.5%;
    box-shadow: -5px 5px rgba(0, 0, 0, 0.76);
    padding-left: 2%;
    padding-bottom: 1%;
    background-color: gainsboro;
}

.highlights {
    padding-bottom: 2%;
}

.resumepic {
    align-content: flex-end;
    margin-bottom: -4px;
    
}

.resumepic img {
    width: 100%;
}

.summarytop {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.list {
    border-top: 10px solid rgba(0, 0, 0, 0.76);
    padding: 1.5% 2% 1.5% 10%;
}

.list h3 {
    font-size: 22px;
    margin: 2%;
    padding-top: 1%;
}

.listgroup {
    box-shadow: -5px 5px rgba(0, 0, 0, 0.76);
    width: 90%;
    background-color: gainsboro;
}

.list p {
    padding: 0% 0% 1% 0%;
    margin: 2%;
    font-size: 18px;
}

/* Experience */

.experience {
   background-image: url(../Resources/stone-texture-background_632498-971.jpg);
}

.experience h2 {
   padding-top: 2%;
   padding-left: 3%;
   margin-bottom: 10px;
   font-size: 34px;
   margin-left: 0px;
}

.employer {
    margin-bottom: 4px;
    border-bottom: 0.5px solid gainsboro;
    margin-right: 325px;
    margin-left: 3%;
    font-size: 22px;
}

.jobtextlogo {
    display: flex;
    justify-content: space-between;
}

.jobtextlogo img{
    width: 10%;
    object-fit: contain;
    margin: 0% 2% 2.25% 0.25%;
}

#franklinlogo {
    max-height: 100px;
    margin-right: 2.5%;
    margin-bottom: 8px;
    margin-top: -20px;
}

#upbeatlogo {
    margin-bottom: 0.5%;
    margin-top: -10px;
}

.jobtitletime {
    display: flex;
    justify-content: space-between;
}

.jobtitle {
    margin-top: 2%;
    margin-left: 3%;
    font-size: 22px;
}

.jobtime {
    margin-right: 3%;
    font-weight: bold;
}

.jobdetails {
    line-height: 1.25rem;
    margin: 0% 2% 1% 3%;
    padding: 0% 0% 1% 1%;
    box-shadow: -5px 5px rgba(0, 0, 0, 0.76);
}

.jobdetails span {
    transition: font-weight 1s ease-in-out;
}

.jobdetails:hover span{
    font-weight: bold;
}


/* Education */

.education {
    background-image: url(../Resources/lightbulb.jpg);
    background-position: 100%;
}

.education h2{
    font-size: 34px;
    padding-top: 2%;
   padding-left: 3%;
   margin-bottom: 10px;
   font-size: 34px;
   margin-left: 0px;
}

.education h4{
    font-size: 14px;
}

.education h4 , .education h3 , .education p {
    margin-left: 8px;
}

.border {
  height: 80px;
  width: 3px;
  margin-top: 10px;
  margin-left: 15px;
  background-color: rgb(206 180 74);
}

.border2 {
    height: 118px;
    width: 3px;
    margin-top: 10px;
    margin-left: 15px;
    background-color: rgb(206 180 74);
}

.border3 {
    height: 120px;
    width: 3px;
    margin-top: 10px;
    margin-left: 15px;
    background-color: rgb(206 180 74);
}

.border4 {
    height: 82px;
    width: 3px;
    margin-top: 10px;
    margin-left: 15px;
    background-color: rgb(206 180 74);
}

.teachinglicense , .psu , .tesl , .IBCert{
    display: flex;
}

.degreetitle {
    font-size: 20px;
    margin-top: 8px;
}

.degreeinst {
    font-size: 18px;
}

/* Skills and Interests */

.skills {
    display: grid;
    max-height: fit-content;
    grid-template-columns: 1fr 1fr 1fr;
}

.coding , .sports , .threeD {
    width: 96%;
    display: grid;
    max-height: fit-content;
}

#lamppic {
    max-height: 250px;
    height: 50%;
    justify-self: center;
    align-self: center;
}


@media only screen and (max-width: 1510px) {
  nav {
    top: 0px;
  }

  .navbar {
    top: 0px;
    display: flex;
    width: 100%;
    justify-content: flex-end;
  }

  .navbar h2:hover {
      font-size: 24px;
      margin-left: 3%;
  }

  .welcome {
    margin-top: 40px;
  }

}

@media only screen and (max-width: 1120px) {
    .education {
        background-image: url(../Resources/lightbulb.jpg);
        background-position: left;
    }

}   

@media only screen and (max-width: 756px) {
    .employer {
        margin-right: 150px;
    }

    .jobtextlogo img {
        display: none;
    }
}

@media only screen and (max-width: 505px) {
    h4 {
        font-size: 16px;
    }

    .welcome h3 {
        font-size: 18px;
    }

    .jobtitle , .employer {
        font-size: 18px;
    }
    
}

@media only screen and (max-width: 390px) {

    .experience h2 {
        margin-left: 2px;
    }

    .experience h3 {
        margin-left: 5px;
    }

    .experience p {
        margin-left: 10px;
    }


}