/* Page */
body {
    background-color: whitesmoke;  
    position: relative;
}

.box {
    border-radius: 15px;
    margin: 0.5rem auto;
    max-width: 1260px;
}

.sec {
    margin-bottom: 45px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 30px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

h2 {
    margin: 6px 15px 2px;
}

h3 , h4 {
    margin: 2px 2px 0px 20px;
}

p {
    margin: 3px 20px 10px;
}

/* Navbar */

.navbar {
  position: fixed;
  left: 0px;
  top: 25px;
  font-size: 14px;
  background-color: grey;
  z-index: 2;
  border-radius: 0px 10px 10px 0px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 30px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.navbar h2 {
    margin-bottom: 10px;
    margin-right: 5px;
    border: 1px solid gainsboro;
    border-radius: 5px;
    background-color: gainsboro;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 30px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.navbar h2:hover {
    margin-left: 5px;
}

.navbar a {
    color: black;
    text-decoration: none;
}

.navbar a:hover {
    color: black;
}

.navbar a:link {
    color: black;
}

.navbar a:visited {
    color: black;
}


/* Welcome */

.welcome {
    display: grid;
    position: relative;
    max-height: 700px;
    justify-content: center;
}

.welcomepic {
    width: 100%;
    margin: 0px;
    max-height: 700px;
}

.welcomepic img{
    width: 100%;
    border-radius: 15px;
    margin: 0px;
    height: 100%;
  }

  .summary {
    position: absolute;
    width: 100%;
    bottom: 0px;
    height: 100%;
  }

.summarytoptext {
    position: absolute;
    margin-top: 4%;
    margin-left: 9%;
    width: 45%;
    line-height: 2rem;
}

.summary h1 {
    font-size: 52px;
    box-shadow: 0px 2px 0px rgba(185, 190, 192, 0.5);
    width: 330px;
    margin-bottom: 25px;
}

.summary h3 {
    font-size: 24px;
    margin-left: 14%;
    line-height: 1.75rem;
    margin-top: 50px;
}

.glancelist {
    margin: 0px;
    height: fit-content;
    width: 58%;
    bottom: 20px;
    left: 20px;
   position: absolute;
}

.glancelist h3{
    margin: 0px 0px 0px;
    display: block;
  }

.box.glancelist p {
    margin: 0px 2px 4px 24px;
}

/* Experience */

.experience {
   background-image: url(../Resources/stone-texture-background_632498-971.jpg);
}

.experience h2{
   padding-top: 12px;
   margin-bottom: 10px;
   font-size: 34px;
}

.employer{
    margin-bottom: 4px;
    border-bottom: 0.5px solid gainsboro;
    margin-right: 325px;
}

.jobtextlogo {
    display: flex;
    justify-content: space-between;
}

.jobtextlogo img{
    width: 10%;
    object-fit: contain;
    margin: 0% 2% 2.25% 0.25%;
}

#franklinlogo {
    max-height: 100px;
    margin-right: 2.5%;
    margin-bottom: 8px;
    margin-top: -20px;
}

#upbeatlogo {
    margin-bottom: 0.5%;
    margin-top: -10px;
}

.jobtitletime {
    display: flex;
    justify-content: space-between;
}

.jobtime {
    margin-right: 3%;
    font-weight: bold;
}

.jobdetails {
    line-height: 1.25rem;
    margin: 0px 0px 8px 35px;
}

.jobdetails span {
    transition: font-weight 1s ease-in-out;
}

.jobdetails:hover span{
    font-weight: bold;
}


/* Education */

.education {
    background-image: url(../Resources/lightbulb.jpg);
    background-position: 100%;
}

.education h2{
    font-size: 34px;
    margin-top: 12px;
    margin-bottom: 10px;
    padding-top: 12px;
}

.education h4{
    font-size: 14px;
}

.education h4 , .education h3 , .education p {
    margin-left: 8px;
}

.border {
  height: 80px;
  width: 3px;
  margin-top: 10px;
  margin-left: 15px;
  background-color: rgb(206 180 74);
}

.border2 {
    height: 118px;
    width: 3px;
    margin-top: 10px;
    margin-left: 15px;
    background-color: rgb(206 180 74);
}

.border3 {
    height: 120px;
    width: 3px;
    margin-top: 10px;
    margin-left: 15px;
    background-color: rgb(206 180 74);
}

.border4 {
    height: 82px;
    width: 3px;
    margin-top: 10px;
    margin-left: 15px;
    background-color: rgb(206 180 74);
}

.teachinglicense , .psu , .tesl , .IBCert{
    display: flex;
}

.degreetitle {
    font-size: 20px;
    margin-top: 8px;
}

.degreeinst {
    font-size: 18px;
}

/* Skills and Interests */

.skills {
    display: grid;
    max-height: fit-content;
    grid-template-columns: 1fr 1fr 1fr;
}

.coding , .sports , .threeD {
    width: 96%;
    display: grid;
    max-height: fit-content;
}

#lamppic {
    max-height: 250px;
    height: 50%;
    justify-self: center;
    align-self: center;
}


@media only screen and (max-width: 1510px) {
  nav {
    display: none;
  }
}

@media only screen and (max-width: 1120px) {
    .summarytoptext {
        margin-top: 1%;
    }

    .education {
        background-image: url(../Resources/lightbulb.jpg);
        background-position: left;
    }

    .summarytoptext h3 {
        margin-top: 1%;
        margin-bottom: 0;
    }

    .summarytoptext h1 {
        margin-top: 0.5%;
        margin-bottom: 0.5%;
    }
}   

@media only screen and (max-width: 920px) {
    .summary h3 {
        font-size: 20px;
        line-height: 120%;
    }

    .summary p {
        line-height: 100%;
        font-size: 14px;
    }
}

@media only screen and (max-width: 756px) {
    .summarytoptext h3 {
       font-size: 18px;
       line-height: 120%;
       margin-top: 5%;
    }

    .summarytoptext h1 {
        line-height: 3rem;
        width: 200px;
    }

    .glancelist {
        display: none;
    }

    .summarytoptext h1 {
        font-size: 30px;
    }

    .employer {
        margin-right: 150px;
    }

    .jobtextlogo img {
        display: none;
    }

@media only screen and (max-width: 505px) {
    h3 {
        font-size: 14px;
    }

    h4 {
        font-size: 12px;
    }
    
    .summarytoptext h3 {
        font-size: 14px;
    }
}
@media only screen and (max-width: 390px) {
    .summarytoptext h3 {
        display: none;
    }

    .summarytoptext h1 {
        width: 100px;
    }

    .experience h2 {
        margin-left: 2px;
    }

    .experience h3 {
        margin-left: 5px;
    }

    .experience p {
        margin-left: 10px;
    }


}